<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="final1.css"/>
    <br><title>Web Phishing URL Detector</title></br>
</head>

<body>

    <ul>
        <li style="float: left; font-size: 20px;"><a href="#">Phishing Detector</a></li><br><br>
        <li style="float: left; font-size: 20px;"><a href="/">Home</a></li>
      </ul>
      

    <div class="content"><center>
        <h2>Phishing Website Detection using Machine Learning</h2></center><br><br>

        <form action="/y_predict" method="POST"><center>
            <input type="text" id="url" name="URL" placeholder="Enter the URL to verify"><br><br>
            <button id="aa" class="button"><span class="text">predict</span>
                <i class="ri-check-line icon"></i></button><br></center>
                
         
    </div>    

    <h3 style="text-align: center; color: red; font-size: 20px;"></h3>
    <h3 style="text-align: center; color: green; font-size: 20px;"></h3>

</body>

</html>