<html><head><style>
    #ns
    {
        position: absolute;
        bottom: 250px;
        right : 550px;
    }
</style></head>
<div id ="ns">
<body text="000331" bgcolor="#ADDFFF">
    
<h1>Web Phishing Detection</h1>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter url</h1>
<form action="{{ url_for('predict') }}" method="post">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="url" required="required" />
<button type="submit">Predict</button>
</form>
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ prediction_text }}

</body></div>
</html>

